<mat-toolbar fxLayout="row" class="nav-footer">
  <div fxFlex>
    <button fxFlexFill mat-icon-button class="mat-icon-big">
      <mat-icon color="primary" aria-hidden="false" aria-label="Notification">home</mat-icon>
    </button>
  </div>
  <div fxFlex>
    <button fxFlexFill mat-icon-button class="mat-icon-big">
      <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayoutAlign="center center">
      <button fxFlexFill mat-icon-button class="mat-icon-big">
        <mat-icon aria-hidden="false" aria-label="Add">add_circle_outline</mat-icon>
      </button>
    </div>
    <div fxFlex>
        <button fxFlexFill mat-icon-button class="mat-icon-big">
            <mat-icon aria-hidden="false" aria-label="Notification" matBadge="3" matBadgeColor="warn">notification_important</mat-icon>
        </button>
      </div>
    <div fxFlex>
        <button fxFlexFill mat-icon-button class="mat-icon-big">
          <mat-icon aria-hidden="false" aria-label="Profile">person</mat-icon>
        </button>
      </div>
</mat-toolbar>
